* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #222;
}

span {
	margin: 1vh 1vw;
	color: #fff;
	font-size: 5vh;
	cursor: pointer;
}

img {
	height: 60vh;
	width: 50vw;
}